CITEKIT_HOST=127.0.0.1
CITEKIT_PORT=8000
CITEKIT_PUBLIC_URL=http://127.0.0.1:8000
CITEKIT_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CITEKIT_DATABASE_URL=mysql+pymysql://citekit:citekit@127.0.0.1:3306/citekit?charset=utf8mb4
CITEKIT_QDRANT_URL=http://127.0.0.1:6333
CITEKIT_OPENSEARCH_URL=http://127.0.0.1:9200
CITEKIT_MINIO_ENDPOINT=127.0.0.1:9000
CITEKIT_MINIO_ACCESS_KEY=citekit
CITEKIT_MINIO_SECRET_KEY=citekitsecret
CITEKIT_MINIO_BUCKET=citekit
CITEKIT_MINIO_SECURE=false
